@using ForeningenFumle.Client.Services;
@page "/about"


<div class="container">
	<div class="about-container">
		<h3>Om Foreningen FUMLE</h3>
		<p class="about">
			Foreningen FUMLE blev stiftet i februar 2025 af tre efterskolevenner, der over en fyraftensøl fik idéen
			til at skabe en forening, hvor hygge, sport og fællesskab kunne gå hånd i hånd. Foreningen har til formål
			at samle gamle venner og byde nye velkommen til sjove og uformelle sportsaktiviteter – alt fra boldspil og vandsport
			til snesport og en helt almindelig gåtur, i naturen og indendørs.
		</p>

		<p class="about">
			Vores ambition er at skabe en forening, hvor medlemmerne kan styrke gamle venskaber og måske endda etablere nye.
			Som medlem af FUMLE handler det ikke om præstationer eller konkurrence – vores kerneværdier er fællesskab,
			glæde og en afslappet tilgang til sport.
		</p>

		<p class="about">
			I tagt med at foreningen vokser, ser vi frem til at arrangere større events, såsom workshops med eksterne undervisere
			eller sociale sammenkomster. En fast tradition er dog allerede etableret: En hyggelig øl i fællesbadet
			efter dagens aktivitet – for det handler lige så meget om samvær som om sport.
		</p>

		<p class="about">
			Foreningen FUMLE er for alle, der ønsker at dyrke sport, grine i et uformelt og
			inkluderende miljø. Vi glæder os til at byde flere velkommen i fællesskabet!
		</p>
	</div>
</div>
@code {
	// [Inject]
	// LogoutTimeService logoutTimeService { get; set; }
	// protected override async Task OnInitializedAsync()
	// {
	// 	logoutTimeService.CheckLogoutTime();
	// }
}


