@using ForeningenFumle.Client.Components.AdminComponents;
@using ForeningenFumle.Client.Components.EventComponents;
@using ForeningenFumle.Client.Components.ChatComponents;
@page "/"

<div class="container">
    <div class="image-container">
        <img src="fumlelogo.png" alt="Foreningen Fumle" class="picture" />
    </div>

    <div class="sidebar">
        <FutureEventsComponent/>
    </div>

    <div class="chatbox">
        <ChatComponent/>
    </div>
</div>

@code {
    // Din backend-logik
}
